* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: lightblue;

}

.to-do {
  width: 300px;
  margin: 25px auto 5px auto;
  padding: 5px;
  font-size: 90%;
}

.submit-btn {
  width: 300px;
  padding: 5px;
  margin: 5px auto 25px auto;
  background: purple;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 100%;
}

.card-container {
  padding: 30px;
  background: #purple;
}

h2 {
  font-size: 120%;
  margin-bottom: 10px;
  font-color: purple;
}

body {
 background-image: url("https://media2.giphy.com/media/xT0xeJpnrWC4XWblEk/giphy.gif?cid=790b76115d28b49b4568474d4d8074ef&rid=giphy.gif");
 background-repeat: repeat;
}
